<div style="margin: 0 auto; width: 656px; text-align: center;">
    <a href="@Url.Action("Index", "users")" type="button" class="btn btn-success">Users</a>
    <a href="@Url.Action("Index", "Exam")" type="button" class="btn btn-danger">Exam</a>
</div>
